{% extends "base.html" %}
{% block title %}Engagements List{% endblock %}
{% block content %}
<h1>Engagements</h1>
<a href="{{ url_for('new_engagement_form_gui') }}" class="button">Add New Engagement</a>
<br><br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Client</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for eng in engagements %}
        <tr>
            <td>{{ eng.id }}</td>
            <td>{{ eng.engagement_name }}</td>
            <td>{{ eng.client_name }}</td>
            <td>{{ eng.status.value }}</td>
            <td>{{ eng.start_date if eng.start_date else 'N/A' }}</td>
            <td>{{ eng.end_date if eng.end_date else 'N/A' }}</td>
            <td>
                <a href="{{ url_for('edit_engagement_form_gui', engagement_id=eng.id) }}">Edit</a> |
                <a href="{{ url_for('delete_engagement_gui', engagement_id=eng.id) }}" onclick="return confirm('Are you sure?');" style="color:red;">Delete</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">No engagements found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} 